*.o
Makefile
build-stamp
config.log
config.status
contrib/Makefile
contrib/hostbyname/hostbyname
contrib/sgclean/sgclean
contrib/squidGuardRobot/squidGuardRobot
debian/files
debian/squidguard.debhelper.log
debian/squidguard.postrm.debhelper
debian/squidguard.substvars
debian/squidguard/
samples/sample.conf
samples/squidGuard-simple-de.cgi
samples/squidGuard-simple.cgi
samples/squidGuard.cgi
src/config.h
src/lex.yy.c
src/sg.h
src/sg.y
src/sgDiv.c
src/squidGuard
src/y.tab.c
src/y.tab.h
test/test1.conf
test/test2.conf
